---
layout: main
---

	<div class="preloader" style="display: none;"></div>
	{% include header.html %}
	{% include menu.html }
	
	<div class="wrapper">
		<img src="img/big-triangle-bg-right.png" class="wrapper__bg" alt="">
		{% include promo.html %}
		
		<section class="partners partners--top-animation section section--small-pt">
			<div class="container">
				<div class="row">
					<div class="col  partners__logoes">
						<div class="partners__logo">
							<img src="img/partners-logo-1.png" alt="">
						</div>
						<div class="partners__logo">
							<img src="img/partners-logo-2.png" alt="">
						</div>
						<div class="partners__logo">
							<img src="img/partners-logo-3.png" alt="">
						</div>
						<div class="partners__logo">
							<img src="img/partners-logo-4.png" alt="">
						</div>
						<div class="partners__logo">
							<img src="img/partners-logo-5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>

		{% include about.html %}
		{% include services.html %}
		{% include roadmap.html %}
		{% include process.html %}
		{% include statistic.html %}
		{% include ico.html %}
		{% include faq.html %}
		{% include app.html %}
		{% include token.html %}
		{% include docs.html %}
		{% include advisors.html %}
		{% include team.html %}
		{% include press.html %}
		{% include news.html %}
		{% include partners.html %}
		{% include subscribe.html %}
		{% include footer.html %}
		{% include copyright.html %}
	</div>