<header class="header">
  <a href="#" class="logo">
    <div class="logo__img"></div>
    <div class="logo__title">Cryptoland</div>
  </a>

  <ul class="menu">
    <li class="menu__item">
      <a href="#about" class="menu__link">About</a>
    </li>
    <li class="menu__item">
      <a href="#services" class="menu__link">Services</a>
    </li>
    <li class="menu__item">
      <a href="#map" class="menu__link">Road Map</a>
    </li>
    <li class="menu__item">
      <a href="#stat" class="menu__link">Statistic</a>
    </li>
    <li class="menu__item">
      <a href="#token" class="menu__link">Token</a>
    </li>
    <li class="menu__item">
      <a href="#docs" class="menu__link">WhitePappers</a>
    </li>
    <li class="menu__item">
      <a href="#team" class="menu__link">Team</a>
    </li>
    <li class="menu__item">
      <a href="#faq" class="menu__link">FAQ</a>
    </li>
  </ul>

  <div class="header__right">
    <div class="select"><select class="select select-hidden">
        <option value="ru">ru</option>
        <option value="ua">ua</option>
        <option value="en">en</option>
      </select>
      <div class="select-styled">ru</div>
      <ul class="select-options" style="display: none;">
        <li rel="ru">ru</li>
        <li rel="ua">ua</li>
        <li rel="en">en</li>
      </ul>
    </div>
    <div class="sign-in-wrap">
      <a href="" class="btn-sign-in">Sign in</a>
    </div>
    <div class="sign-up-wrap">
      <a href="" class="btn-sign-up">Sign up</a>
    </div>
  </div>

  <div class="btn-menu">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
</header>