<section class="news section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="block-header block-header--animated block-header--center">
          <div class="subtitle">In the world</div>
          <h2 class="title title--medium title--black">Latest News</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="news-carousel owl-carousel owl-loaded owl-drag">
            <div class="owl-stage"
              style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1520px;">
              <div class="owl-item active" style="width: 350px; margin-right: 30px;"><a href=""
                  class="news-carousel__item">
                  <div class="news-carousel__item-subtitle">Cryptocurrency</div>
                  <h3 class="news-carousel__item-title">
                    New trends in UI/UX Design World Integration
                  </h3>
                  <p>
                    Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis
                    Lapos will conduct a number of personal meet-
                  </p>
                  <div class="news-carousel__item-data">
                    September, 15 2017
                  </div>
                </a></div>
              <div class="owl-item active" style="width: 350px; margin-right: 30px;"><a href=""
                  class="news-carousel__item">
                  <div class="news-carousel__item-subtitle">Bitcoin</div>
                  <h3 class="news-carousel__item-title">
                    The Crypto project has reached seven billions
                  </h3>
                  <p>
                    Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis
                    Lapos will conduct a number of personal meet-
                  </p>
                  <div class="news-carousel__item-data">
                    September, 17 2017
                  </div>
                </a></div>
              <div class="owl-item active" style="width: 350px; margin-right: 30px;"><a href=""
                  class="news-carousel__item">
                  <div class="news-carousel__item-subtitle">Blokchain</div>
                  <h3 class="news-carousel__item-title">
                    Start the redemption before the ICO completion
                  </h3>
                  <p>
                    Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis
                    Lapos will conduct a number of personal meet-
                  </p>
                  <div class="news-carousel__item-data">
                    September, 15 2017
                  </div>
                </a></div>
              <div class="owl-item" style="width: 350px; margin-right: 30px;"><a href="" class="news-carousel__item">
                  <div class="news-carousel__item-subtitle">Blokchain</div>
                  <h3 class="news-carousel__item-title">
                    Start the redemption before the ICO completion
                  </h3>
                  <p>
                    Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis
                    Lapos will conduct a number of personal meet-
                  </p>
                  <div class="news-carousel__item-data">
                    September, 15 2017
                  </div>
                </a></div>
            </div>
          </div>
          <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                aria-label="Previous">‹</span></button><button type="button" role="presentation"
              class="owl-next"><span aria-label="Next">›</span></button></div>
          <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
              role="button" class="owl-dot"><span></span></button></div>
        </div>
      </div>
    </div>
  </div>
</section>
