<section class="promo active">
  <div class="container">
    <div class="row align-items-center ">
      <div class="col">
        <div class="promo__content aos-init aos-animate" data-aos="fade-up">
          <div class="promo__subtitle">Cryptoland</div>
          <h1 class="title title--big title--white promo__title">
            Blockchain is future
            <span>of the business technology</span>
          </h1>
          <p>
            Spend real fights effective anything extra by leading. Mouthwatering leading how real formula also
            locked-in have can mountain thought. Jumbo plus shine sale.
          </p>

          <form action="#" id="subscribe-top" class="form join-us" novalidate="novalidate">
            <input name="subscribe_top__email" class="form__input join-us__input" type="email" placeholder="Email">
            <button class="form__btn join-us__btn">Join ICO</button>
          </form>
        </div>

        <img src="img/city.png" data-aos="fade-left" alt="" class="promo__img aos-init aos-animate">
      </div>
    </div>
  </div>
  <img src="img/aboutBg.png" class="promo__bg" alt="">
</section>