<section id="statistic" class="stat section">
  <div class="container">
    <div class="row stat__first-row">
      <div class="col-lg-5 aos-init aos-animate" data-aos="fade-right">
        <div class="block-header block-header--animated">
          <div class="subtitle subtitle--tire">Our data</div>
          <h2 class="title title--black title--medium">Statistic Information</h2>
        </div>

        <div class="stat__content">

          <p>
            Spend real fights effective anything extra by leading. Mouthwatering leading how real formula also
            locked-in have can mountain thought. Jumbo plus shine sale.
          </p>

          <ul class="stat__designations">
            <li>How real formula also</li>
            <li>Leading how real formula also </li>
            <li>Formula also </li>
            <li>Mouthwatering leading</li>
            <li>Formula also leading how real</li>
          </ul>

        </div>

      </div>

      <img src="img/graphic.png" class="stat__graphic" alt="">
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class=" ter__item">
          <div class="counter__item-title">Current elixit price (BTC)</div>
          <div class="counter counter__item-value counter__item-value--blue numscroller">0.052646</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter__item">
          <div class="counter__item-title">Avarage batches used</div>
          <div class="counter counter__item-value counter__item-value--pink">5.658</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter__item">
          <div class="counter__item-title">Total batches remaining</div>
          <div class="counter counter__item-value counter__item-value--green">20.324</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="counter__item">
          <div class="counter__item-title">Percentage batches</div>
          <div class="counter counter__item-value counter__item-value--percent counter__item-value--purpure">65</div>
        </div>
      </div>
    </div>
  </div>
</section>