<section class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="block-header block-header--animated block-header--center">
          <div class="subtitle">Newslatter</div>
          <h2 class="title title--medium title--white">Subscribe</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form id="subscribe-bot" action="#" class="subscribe__form form" novalidate="novalidate">
          <input type="email" name="subscribe_bot__email" placeholder="Email"
            class="form__input subscribe__form-input">
          <button class="form__btn subscribe__form-btn">Send</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <ul class="social-list" "="">
            <li class=" social-list__item">

          <a href="" class="social-list__link">
            <i class="fontello-icon icon-twitter"></i>
          </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link">
              <i class="fontello-icon icon-facebook"></i>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link">
              <i class="fontello-icon icon-telegram"></i>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link">
              <i class="fontello-icon icon-bitcoin"></i>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link">
              <i class="fontello-icon icon-youtube-play"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>